/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --main-color1-dark: rgb(3, 37, 65);
  --main-color1-light: rgb(1, 180, 228);
  --main-color2-light: rgb(192, 254, 207);
  --main-color2-medium: rgb(30, 213, 169);
  --shadow-color: rgb(160, 160, 160);
}

/* RESET */
li {
  list-style: none;
}

input,
button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.Interface {
  display: flex;
  flex-direction: column;
}

.movies-container {
  display: flex;
}

.MoviesList {
  min-width: 300px;
  max-width: 300px;
  overflow: scroll;
}

.MoviesList li {
  padding: 0.5em 0.8em;
  color: white;
  font-weight: bold;
  font-size: 1em;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 10%;
  background-color: rgba(255, 255, 255, 0.249);
  background-blend-mode: hue;
}

.MoviesList li:hover {
  cursor: pointer;
  background-blend-mode: inherit;
}

.MovieDetails {
  border: 2px solid red;
}

.backdrop-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(73, 73, 73, 0.87);
  background-blend-mode: hue;
}

.MovieDetails img {
  height: 300px;
}

.SearchBar {
  background-color: var(--main-color1-dark);
  padding: 2em;
  display: flex;
  justify-content: center;
}

#search-input {
  background-color: white;
  border-radius: 25px;
  margin: 1em;
  padding: 0.5em 0.8em;
  width: 30em;
}

#search-input:focus {
  background-color: none;
  outline: none;
}

.btn {
  border-radius: 25px;
  padding: 0.5em 0.8em;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 2px 3px 2px 2px var(--shadow-color);
  margin: 0.5em;
}

.btn:hover,
.btn:active {
  box-shadow: none;
  transform: scale(0.98);
  box-shadow: 2px 3px 0px 0px var(--shadow-color);
}

.btn.search {
  background: linear-gradient(
    to left,
    var(--main-color1-light),
    var(--main-color2-medium)
  );
}
